.contact-form-message {
  display: flex;
  flex-direction: column;

  // .contact-form-message__fieldset
  &__fieldset {
    flex: 1;

    min-width: auto;

    padding: 0 12px 5px;
    margin: 0;
    border: 1px solid var(--background-color);
  }

  // .contact-form-message__legend
  &__legend {
    float: initial;

    width: auto;

    margin: 0;

    font-size: 12px;
    font-weight: 500;
  }

  //. contact-form-message__label

  &__label {
    padding: 0 10px;

    cursor: pointer;
  }

  // .contact-form-message__input
  &__input {
    display: flex;

    width: 100%;
    height: 100%;

    padding: 10px;

    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;

    outline: none;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: var(--placeholder-color);
      font-size: 12px;
      font-weight: 500;
      opacity: 1;
    }
  }

  // .contact-form-message__textarea
  &__textarea {
    resize: none;
  }

  // .contact-form-message__name-and-email
  &__name-and-email {
    display: flex;
    gap: 25px;
  }

  // .contact-form-message__message

  &__message {
    margin-top: 25px;
  }
}

@import "media";
