@media (max-width: 992.8px) and (orientation: landscape) {
  .menu {

    // .menu__block
    &__block {
      width: clamp(575px,80vw,750px);

      &.active {
        width: clamp(575px,80vw,750px);
      }
    }

    // .menu__nav
    &__nav {
      padding-left: clamp(40px, 3.5vw, 60px);
    }

    // .menu__links
    &__links {
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;

      margin: min(115px,30vh) 0 0 0;
    }

    // .menu__link
    &__link {
      width: 210px;
      padding: 5px 10px 5px 30px;

      &:before {
        left: 0;
      }
    }

    // .menu__social
    &__social {
      bottom: 20px;
    }
  }
}
