.menu {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  max-height: 100vh;
  width: 100vw;

  &.active {
    bottom: 0;
  }


  // .menu__burger
  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    position: absolute;
    top: 20px;
    right: clamp(30px, 5%, 40px);

    width: 35px;
    height: 20px;

    cursor: pointer;

    span {
      display: block;

      width: 80%;
      height: 2px;

      background-color: var(--text-color);
    }

    .long {
      width: 100%;
    }
  }

  // .menu__block
  &__block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 999;

    width: clamp(250px, 30vw, 345px);

    background-color: var(--main-color);

    transition: left 0.3s ease;

    &.active {
      left: 0;
    }
  }

  // .menu__close
  &__close {
    display: block;
    height: 30px;
    width: 30px;

    position: absolute;
    top: 25px;
    right: 25px;

    cursor: pointer;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(-45deg);

      background-color: var(--background-color);
      border-radius: 2px;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(45deg);

      background-color: var(--background-color);
      border-radius: 2px;
    }
  }

  // .menu__change-theme
  &__change-theme {
    position: absolute;
    top: 27px;
    left: 25px;

    color: var(--background-color);
    font-size: 26px;

    cursor: pointer;
  }

  // .menu__nav
  &__nav {
    padding-left: clamp(40px, 3.5vw, 60px);
  }

  // .menu__links
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: min(150px, 20vh) 0 0 0;
    padding: 0;

    list-style-type: none;
  }

  // .menu__link
  &__link {
    display: flex;

    position: relative;

    padding: 5px 10px;

    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;

    transition: color 0.3s ease;

    &:before {
      content: "";
      display: block;
      height: 15px;
      width: 15px;

      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);

      border: 1px solid var(--background-color);
      border-radius: 100%;

      transition: background-color 0.3s ease, border 0.3s ease;
    }

    &:hover {
      color: #fff;

      &:before {
        background-color: var(--background-color);
        border: 1px solid transparent;
      }
    }
  }

  // .menu__social
  &__social {
    display: flex;
    gap: 0 15px;

    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);

    font-size: 1.25rem;

    // .menu__social-link
    &-link {
      text-decoration: none;
      color: var(--text-color);

      transition: color 0.3s ease;

      &:hover {
        color: var(--text-color-hover);
      }

      span {
        pointer-events: none;
      }
    }
  }

  &__overlap {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-color: var(--background-color);
    opacity: 0;
    cursor: pointer;

    transition: opacity 0.5s ease, visibility 0.5s ease;

    &.active {
      opacity: 0.5;
      visibility: visible;
    }
  }
}

@import "media";
