<div class="attainments-item">
    <div class="attainments-item__group">
        <div class="attainments-item__wrapper">
            <span class="attainments-item__icon @@icon"></span>
            <div class="attainments-item__description">
                <h3 class="attainments-item__header">@@title</h3>
                <span class="attainments-item__subheader">@@subtitle</span>
                <div class="attainments-item__line"></div>
            </div>
        </div>
        <p class="attainments-item__text">@@text</p>
    </div>
</div>
