<div class="menu">
    <div class="menu__burger">
        <span></span>
        <span class="long"></span>
        <span></span>
    </div>
    <div class="menu__block">
        <span class="menu__close"></span>
        <span class="icon-moon menu__change-theme"></span>
        <nav class="menu__nav">
            <ul class="menu__links">
                <li><a href="#" class="menu__link">ПРО МЕНЯ</a></li>
                <li><a href="#" class="menu__link">МОЙ ОПЫТ</a></li>
                <li><a href="#" class="menu__link">МОИ НАВЫКИ</a></li>
                <li><a href="#" class="menu__link">МОИ РАБОТЫ</a></li>
                <li><a href="#" class="menu__link">ПРАЙС-ЛИСТ</a></li>
                <li><a href="#" class="menu__link">КОНТАКТЫ</a></li>
            </ul>
        </nav>
        <div class="menu__social">
            <a href="#" class="menu__social-link">
                <span class="icon-github"></span>
            </a>
            <a href="#" class="menu__social-link">
                <span class="icon-instagram"></span>
            </a>
            <a href="#" class="menu__social-link">
                <span class="icon-facebook"></span>
            </a>
        </div>
    </div>
    <div class="menu__overlap"></div>
</div>
