@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Medium.woff') format('woff'),
  url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Bold.woff') format('woff'),
  url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xqgrha');
  src:  url('../fonts/icomoon.eot?xqgrha#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?xqgrha') format('truetype'),
  url('../fonts/icomoon.woff?xqgrha') format('woff'),
  url('../fonts/icomoon.svg?xqgrha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-designer:before {
  content: "\e902";
}
.icon-courses:before {
  content: "\e903";
}
.icon-developer:before {
  content: "\e904";
}
.icon-university:before {
  content: "\e905";
}
.icon-design:before {
  content: "\e906";
}
.icon-mobile-dev:before {
  content: "\e907";
}
.icon-web-development:before {
  content: "\e908";
}
.icon-github:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
