@import "variables";
@import "mixins";

@media (min-width: 1400.98px) {
  .social {
    display: flex;
  }

  .technology {
    padding-top: 8.125rem;
  }
}

@media (max-width: 768.98px) {
  html {
    font-size: 14px;
  }

  .attainments {
    grid-template-columns: auto;
  }

  .works {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-template-rows: unset;
      grid-auto-rows: 280px;
      justify-content: center;
      gap: 20px;
    }

    &__plans {
      grid-row: unset;
    }

    &__mac {
      grid-column: unset;
    }
  }

  .about {
    &__wrapper {
      gap: 2.8125rem;
    }
  }
}

@media (max-width: 992.8px) {
  .about {
    padding: min(120px, 5vh) 0;

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__img {
      display: block;

      max-height: 340px;
      max-width: 100%;
      width: auto;

      margin: 0 auto;
    }
  }

  .progress {
    padding-top: 6.25rem;
  }

  .works {
    padding-top: 4rem;

    &__wrapper {
      margin-top: 2.5rem;
    }

    &__img {
      filter: grayscale(0);
    }
  }
}
