@import "variables";

@mixin before-circle {
  &:before {
    content: "";
    display: block;
    border-radius: 50%;

    position: absolute;
    z-index: -1;

    width: 2.25rem;
    height: 2.25rem;

    background-color: $main-color;

    @content;
  }
}
