:root {
  --main-color-light-mode: #ffa501;
  --main-color-light-mode-hover: #fabc46;
  --main-color-dark-mode: #296059;
  --main-color-dark-mode-hover: #1c433e;
  --text-light-mode: #000;
  --text-dark-mode: #fff;
  --text-light-mode-hover: #000;
  --text-dark-mode-hover: #a5a5a5;
  --background-light-mode: #fff;
  --background-dark-mode: #292b34;
  --placeholder-color-dark-mode: #7b7b7b;
  --progress-bar-light-mode: #E8E4DE;
  --progress-bar-dark-mode: #ffffff;
}

:root[data-theme="dark"] {
  --text-color: var(--text-dark-mode);
  --text-color-hover: var(--text-dark-mode-hover);
  --background-color: var(--background-light-mode);
  --background-color-page: var(--background-dark-mode);
  --main-color: var(--main-color-dark-mode);
  --main-color-darken: var(--main-color-dark-mode-hover);
  --placeholder-color: var(--placeholder-color-dark-mode);
  --progress-bar: var(--progress-bar-dark-mode)
}

:root[data-theme="light"] {
  --text-color: var(--text-light-mode);
  --text-color-hover: var(--text-light-mode-hover);
  --background-color: var(--background-dark-mode);
  --background-color-page: var(--background-light-mode);
  --main-color: var(--main-color-light-mode);
  --main-color-darken: var(--main-color-light-mode-hover);
  --placeholder-color: var(--placeholder-color-dark-mode);
  --progress-bar: var(--progress-bar-light-mode)
}
