$main-color-white-mode: #FFA501;
$main-color-black-mode: #296059;
$text-white-mode: #000;
$text-black-mode: #fff;
$background-white-mode: #fff;
$background-black-mode: #292B34;

$text-color: $text-white-mode;
$text-color-reverse: $text-black-mode;
$background-color: $background-white-mode;
$background-color-page: $background-black-mode;
$main-color: $main-color-black-mode;
