@import "../base/variables";

.link {
  color: $text-color-reverse;
  text-decoration: none;
  font-weight: 700;

  padding: .715em;

  transition: color .3s ease;

  &:hover {
    color: darken($text-color-reverse, 20);
  }
}
