@import "../base/mixins";

.progress-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // .progress-item__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .progress-item__name

  &__name {
    position: relative;

    padding-left: 15px;

    font-size: 0.875rem;
    font-weight: 700;

    @include before-circle {
      top: -65%;
      left: 0;
    }
  }

  // .progress-item__percent

  &__percent {
    font-size: 0.875rem;
    font-weight: 500;
  }

  // .progress-item__progress

  &__progress {
    height: 0.9375rem;
    width: 100%;

    background-color: var(--progress-bar);
    border-radius: 6px;
  }

  // .progress-item__fill

  &__fill {
    height: 100%;

    border-radius: 4px;

    margin-right: 100%;

    background-color: var(--main-color);
    transition: margin-right 2s ease;
  }
}
