<aside class="social">
    <ul class="social__links">
        <li>
            <a href="#" class="social__link">
                <span class="icon-facebook"></span>
            </a>
        </li>
        <li>
            <a href="#" class="social__link">
                <span class="icon-instagram"></span>
            </a>
        </li>
        <li>
            <a href="#" class="social__link">
                <span class="icon-github"></span>
            </a>
        </li>
    </ul>
    <div class="social__divider"></div>
    <div class="social__text"><span>Социальные сети</span></div>
</aside>
