@import "../base/mixins";

@import "../../html/components/price-with-description/style";
@import "../../html/components/about-item/style";

.price-list {
  padding-top: 4.125rem;

  // .price-list__items-wrapper
  &__items-wrapper {
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: space-around;
    gap: 15px;

    margin-top: 3.75rem;
  }

  .about-item {
    text-align: center;

    // .about-item__title
    &__title {
      @include before-circle {
        left: 50%;
        top: -25%;
        transform: translateX(-50%);
      }

      color: var(--text-color);
      text-align: center;
    }

    // .about-item__subtitle
    &__subtitle {
    }

    // .about-item__divider
    &__divider {
      margin: 1.875rem auto 0;
    }
  }
}

@import "media";
