.technology-item {
  padding: 1.875rem;

  border: 1px solid var(--background-color);

  // .technology-item__icon
  &__icon {
    display: flex;
    align-items: center;

    height: 70px;

    overflow: hidden;
  }

  // .technology-item__name
  &__name {
    display: block;

    margin-top: 1.25rem;

    font-size: 14px;
    font-weight: 700;
  }

  // .technology-item__description
  &__description {
    margin-top: 0.9375rem;

    font-size: 12px;
    line-height: 18px;
  }
}
