@import "base/mixins";
@import "../html/components/attainments-item/style";
@import "../html/components/about-item/style";

.experience {
  padding-top: 1.875rem;

  color: var(--text-color);

  .about-item {
    position: relative;

    text-align: center;

    @include before-circle {
      left: 50%;
      transform: translateY(-20%) translateX(-50%);
    }

    // .about-item__title
    &__title {
    }

    // .about-item__subtitle
    &__subtitle {
    }
  }

  .divider {
    margin: 1.5rem auto 0;
  }
}

.attainments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 3.75rem 8.75rem;

  margin-top: 3.75rem;

  // .attainments__col
  &__col {
    position: relative;

    padding-left: 3.125rem;
    //border-left: 1px solid var(--background-color);

    overflow: hidden;

    @include before-circle {
      width: 15px;
      height: 15px;

      top: 3px;
      left: 8px;
      transform: translateX(-50%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 8px;
      z-index: -2;

      display: block;
      width: 1px;
      height: 100%;

      background-color: var(--background-color);

      transform: translateX(-50%);
    }
  }

  // .attainments__header
  &__header {
    //margin-top: -18px;
    margin-bottom: 2.81rem;
    margin-left: -13px;

    text-align: left;
    font-weight: 700;
    font-size: 1.25rem;
  }

  // .attainments__header
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.81rem 0;
  }
}
