@import "base/mixins";
@import "blocks/link";

@import "../html/components/button-link/style";
@import "../html/components/about-item/style";

.promo {
  position: relative;

  min-height: 100vh;

  padding: min(25vh, 205px) 0 min(12vh, 100px);

  // .promo__btns
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.875rem;

    margin-top: 2.14em;

    max-width: 16.25rem;
  }

  // .promo__btn
  &__btn {
    padding: .9375em 1.78em;
  }

  // .promo__about
  &__about {
    color: var(--text-color);
  }

  // .promo__title
  &__title {
    position: relative;
    padding-left: 10px;

    @include before-circle {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  // .promo__subtitle
  &__subtitle {
    max-width: 660px;

    font-size: 3rem;
  }

  .about-item {
    color: var(--text-color);

    // .about-item__title
    &__title {
      position: relative;
      padding-left: 10px;

      @include before-circle {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    // .about-item__subtitle
    &__subtitle {
      max-width: 660px;

      font-size: 3rem;
    }

    // .about-item__divider
    &__divider {
      display: none;
    }
  }
}

:root[data-theme="dark"] {
  .promo {
    background: var(--background-color-page) url("../img/promo-bg.jpg") 55% center / cover no-repeat;
  }
}

:root[data-theme="light"] {
  .promo {
    background: var(--background-color-page) url("../img/promo-bg-light.jpg") 55% center / cover no-repeat;
  }
}

