@import "base/mixins";

@import "../html/components/technology-item/style";

.technology {
  padding-top: 5rem;
  color: var(--text-color);

  // .technology__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.875rem, auto));
    gap: 0.625rem;

    margin-top: 3.75rem;
  }

  .about-item {
    text-align: center;

    // .about-item__title
    &__title {
      @include before-circle {
        top: -25%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    // .about-item__subtitle
    &__subtitle {
    }

    // .about-item__divider
    &__divider {
      margin: 1.875rem auto 0;
    }
  }
}
