@import "libs/bootstrap-reboot.min";
@import "base/font";
@import "base/icons-mode";
@import "blocks/common";
@import "blocks/menu";

* {
  font-family: Poppins, sans-serif;
}

body {
  background-color: $background-color-page;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@import "promo";
@import "about";
@import "experience";
@import "technology";
@import "progress";
@import "works";
@import "price-list/price-list";
@import "contact-me/contact-me";

@import "media-queries/media";
