@import "base/theme";
@import "libs/bootstrap-reboot.min";
@import "base/font";
@import "blocks/common";
@import "../html/components/menu/style";
@import "../html/components/aside-social-links/style";

* {
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--background-color-page);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@import "promo";
@import "about/about";
@import "experience";
@import "technology";
@import "progress";
@import "works";
@import "price-list/price-list";
@import "../html/footer/style";

@import "media-queries/media";
