@import "libs/bootstrap-reboot.min";
@import "base/font";
@import "base/icons-mode";
@import "blocks/common";
@import "blocks/menu";

* {
  font-family: Poppins, sans-serif;
}

body {
  background-color: $background-color-page;
}

p {
  margin: 0;
  padding: 0;
}

@import "promo";
@import "about";
@import "experience";
@import "technology";

@import "base/media";
