@import "../../../scss/base/mixins";

.skill-item {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;

  // .skill-item__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 0;
  }

  // .skill-item__icon
  &__icon {
    position: relative;

    margin: 15px 0 0 15px;

    width: 100%;
    max-width: 30px;

    font-size: 1.5625rem;
    font-weight: 100;

    @include before-circle {
      top: -10px;
      left: -15px;
    }
  }

  // .skill-item__title
  &__title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.2px;
  }

  // .skill-item__descr
  &__descr {
    font-weight: 500;
    font-size: 14px;

    //padding-top: .625rem;
  }
}
