@import "../base/mixins";

@import "../../html/components/about-item/style";
@import "../../html/components/skill-item/style";

.about {
  min-height: 600px;

  padding: min(120px, 15vh) 0;

  // .about__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3.75rem;
  }

  // about__img
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  // .about__descr
  &__descr {
    color: var(--text-color);
  }

  &__about-me {
    padding-top: 24px;

    font-weight: 500;
    font-size: 0.875rem;
  }

  // .about__skills
  &__skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 40px 50px;

    margin-top: 2.5rem;
  }

  .about-item {
    // .about-item__title
    &__title {
      position: relative;
      padding: 6px 0 0 12px;

      @include before-circle {
        top: 50%;
        left: 0;
        transform: translateY(calc(-50% + 2px));
      }
    }

    // .about-item__subtitle
    &__subtitle {
    }

    // .about-item__divider
    &__divider {
      margin-top: 10px;
    }
  }
}

@import "media";
